<?php

// Configurable constants
define ( 'swefsecurity_alert_log',                  'swefsecurity-alert.log'            );
define ( 'swefsecurity_log',                        'swefsecurity-general.log'          );
define ( 'swefsecurity_log_all',                    false                               );
define ( 'swefsecurity_log_dir_scan',               'swefsecurity'                      );
define ( 'swefsecurity_scan_directorise_chars_csv', '.,[,@'                             );
define ( 'swefsecurity_scan_directorise_mode',      0777                                );
define ( 'swefsecurity_scan_directorise_recurse',   SWEF_BOOL_TRUE                      );

?>
