<?php

// Configurable constants
define ( 'swefsecurity_log_dir_scan',               './app/log/swef-plugin-swefsecurity'                );
define ( 'swefsecurity_log',                        './app/log/swef-plugin-swefsecurity/general.log'    );
define ( 'swefsecurity_alert_log',                  './app/log/swef-plugin-swefsecurity/alert.log'      );
define ( 'swefsecurity_log_all',                    false                                               );

?>
