<your path to>/swef-umbrella/swef-www/app/log/SwefSecurity/swefsecurity-*.log {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifyempty
    create 640 <your OS account> <your OS group>
}

